
*.lock
*.gen
*.tii
*.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
*.nrm
*.fnm
*.fdx
*.png
*.txt
*.index
*.fdt
*.frq
*.prx
*.prefs
*.xml
*.xmi
*.xmi
*.resources
*.snap
*.snap
*.snap
*.zip
*.zip
*.xmi
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/0.snap
*.txt
*.snap
*.resources
*.zip
*.snap
*.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.xmi
*.zip
.metadata/.mylyn/tasks.xml.zip
