.recommenders/
.metadata/
*.lock
*.gen
*.tii
*.tis
*.nrm
*.fnm
*.fdx
*.png
*.txt
*.index
*.fdt
*.frq
*.prx
*.prefs
*.xml
*.xmi
*.xmi
*.resources
*.snap
*.snap
*.snap
*.zip
*.zip
*.xmi
*.txt
*.snap
*.resources
*.zip
*.snap
*.resources
*.xmi
*.zip
*.xmi
*.snap
*.resources
*.snap
